:root{ 
    ---azul: #0466c8ff;
    --azul-fosco: #0353a4ff;
    --azul-escuro: #023e7dff;
    --azul-forte: #002855ff;
    --azul-preto-2: #001845ff;
    --preto-3: #001233ff;
    --cinza-escuro: #33415cff;
    --cinza-claro: #5c677dff;
    --prata: #7d8597ff;
    --branco: rgb(255, 255, 255);}
    body{ 
        background-color: var(--cinza-claro);
        font-family: var(--texto);
        margin: 0;
    }
    header{ 
        background-color: var(--cinza-escuro);
        display: flex;
        justify-content: space-around;
        padding: 10px;
        align-items: center;
    }
    .img-logo{
        width: 15%;
        border-radius: 60%;
    }
    .menu{
        display: flex;
        list-style: none;
        gap: 30px;
       font-size: 20px;
        font-family: var(--titulo);
        text-transform: uppercase;
    }

    .menu a{
        text-decoration: none;
        color: var(--branco);
    }
    .menu a:hover{
        color: var(--azul-fosco);
        transition: 0.5s;
    }
.capa{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.capa img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.aprsentacao{
    font-family: var(--titulo);
    text-align: center;
    margin: 40px 0;
}